*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Geometria", Arial;
}

/* Register - Login */
.login-form,
.register-form{
    background-image: url(https://img2.akspic.ru/originals/0/7/1/3/53170-zemlya-atmosfera-razvlechenie-polnoch-teatr-1920x1080.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-box,
.register-box{
    width: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 8px 80px;
}

.login-header,
.register-header{
    margin: 40px 0;
    text-align: center;
}

.login-input,
.register-input{
    display: block;
    padding: 16px 20px;
    width: 100%;
    border: 1px solid rgb(175, 173, 173);
    border-radius: 5px;
    outline: none;
    margin-bottom: 16px;
}

.register-input-check{
    margin-right: 8px;
}

.login-control,
.register-control{
    cursor: pointer;
    margin: 40px 0;
    width: 100%;
    padding: 16px 0;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    border: unset;
    color: white;
    transition: opacity ease 0.3s;
    background: linear-gradient(90deg,rgb(43, 2, 26), rgb(247, 7, 7));
}

.login-control:hover,
.register-control:hover{
    opacity: 0.8;
}
.login-link,
.register-link{
    color: black;
}

.login-nav-register,
.register-nav-login{
    text-align: center;
    margin: 40px 0;
}

/* Main Page */
header{
    width: 100%;
    z-index: 1;
    position: fixed;
    background-color: rgba(197, 20, 20, 0.7);
}

.header-title-link{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 16px;
    opacity: 0.7;
    transition: opacity ease 0.3s;
}
.header-title-link:hover{
    opacity: 1;
}

.header-link{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 16px;
    opacity: 0.7;
    transition: opacity ease 0.3s;
    border-left:1px solid rgba(255,255,255,0.2) ;
}

.header-link:hover{
    opacity: 1;
}


.header-block-links{
    display: flex;
    justify-content: flex-end;
}

i.header-icon{
    font-size: 20px;
    display: block;
    margin-bottom: 4px;
}

.header-text{
    font-size: 14px;
}

/* Content */
.section-about{
    background-image: url(https://img2.akspic.ru/originals/0/7/1/3/53170-zemlya-atmosfera-razvlechenie-polnoch-teatr-1920x1080.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-about__text{
    font-size: 30px;
    opacity: 0.3;
    transition: opacity ease 0.3s;
    color: white;
    margin-bottom: 40px;
    text-decoration: none;
}
.section-about__text:hover{
    opacity: 1;
}

.section-content{
    padding: 70px 0 40px 0;
    background-color: rgb(199, 197, 197);
}


.repertoire-block{
    position: relative;
    width: 100%;
    background-color: white;
    height: 455px;
}

.repertoire-image{
    width: 100%;
    overflow: hidden;
    height: 256px;
}

.repertoire-image img{
    cursor: pointer;
    width: 100%;
    transition: transform ease 0.3s;
}
.repertoire-image:hover img{
    transform: scale(1.1);
}

.repertoire-title{
    padding: 24px 0;
    text-align: center;
}

.repertoire-description{
    text-align: center;
    padding: 0 10px 40px 10px;
    font-size: 14px;
}

.repertoire-favorite{
    position: absolute;
    top: 10px;
    left: -6px;
    background-color: #ff4a2e;
    padding: 0 4px;
    border-radius:0 3px 3px 0;
    color: white;
    font-size: 14px;
}

.repertoire-favorite::before{
    content: "";
    position: absolute;
    top: 16px;
    left: 0;
    border-top: 5px solid #df4129;
    border-left: 5px solid transparent;
}

.section-contact{
    padding: 40px 0;
}

.contact{
    width: 800px;
    margin: 0 auto;
}

.contact-title{
    text-align: center;
    padding: 20px;
}

.contact-description{
    text-align: center;
    color: rgb(190, 190, 190);
    padding-bottom: 60px;
}

.contact-about{
    margin: 10px 0;
}
.contact-form-sub{
    display: flex;
}

.contact-form__mail,
.contact-form__name{
    width: 50%;
    padding: 8px 16px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
}

.contact-form__name{
    margin-right: 6px;
}

.contact-form__mail{
    margin-left: 6px;
}

.contact-form__message{
    width: 100%;
    padding: 8px 16px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-top: 16px;
}

.contact-form__submit{
    cursor: pointer;
    float: right;
    padding: 8px 16px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: black;
    border-radius: 5px;
    margin-top: 16px;
    color: white;
    transition: opacity ease 0.3s;
}

.contact-form__submit:hover{
    opacity: 0.8;
}