*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Geometria", Arial;
}
a{
    text-decoration: none;
    color: black;
}

/* Register - Login */
.login-form,
.register-form{
    background-image: url(https://img2.akspic.ru/originals/0/7/1/3/53170-zemlya-atmosfera-razvlechenie-polnoch-teatr-1920x1080.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-box,
.register-box{
    width: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 8px 80px;
}

.login-header,
.register-header{
    margin: 40px 0;
    text-align: center;
}

.login-input,
.register-input{
    display: block;
    padding: 16px 20px;
    width: 100%;
    border: 1px solid rgb(175, 173, 173);
    border-radius: 5px;
    outline: none;
    margin-bottom: 16px;
}

.register-input-check{
    margin-right: 8px;
}

.login-control,
.register-control{
    cursor: pointer;
    margin: 40px 0;
    width: 100%;
    padding: 16px 0;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    border: unset;
    color: white;
    transition: opacity ease 0.3s;
    background: linear-gradient(90deg,rgb(43, 2, 26), rgb(247, 7, 7));
}

.login-control:hover,
.register-control:hover{
    opacity: 0.8;
}
.login-link,
.register-link{
    color: black;
}

.login-nav-register,
.register-nav-login{
    text-align: center;
    margin: 40px 0;
}

/* Header */
header{
    width: 100%;
    z-index: 1;
    position: fixed;
    background-color: rgba(197, 20, 20, 0.7);
}

.header-title-link{
    display: flex;
    text-align: center;
    text-decoration: none;
    color: white; 
    opacity: 0.7;
    transition: opacity ease 0.3s;
    height: 75px;
}

.header-title-link img{
    height: 100%;
}

.header-title-link:hover{
    opacity: 1;
}

.header-title-link__text{
    line-height: 75px;
}

.header-link{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 16px;
    opacity: 0.7;
    transition: opacity ease 0.3s;
    border-left:1px solid rgba(255,255,255,0.2) ;
}

.header-link:hover{
    opacity: 1;
}


.header-block-links{
    display: flex;
    justify-content: flex-end;
}

i.header-icon{
    font-size: 20px;
    display: block;
    margin-bottom: 4px;
}

.header-text{
    font-size: 14px;
}

/* Footer */
footer{
    margin-top: 40px;
    border-top: 5px solid rgb(39, 39, 39);
    background-color: rgb(65, 65, 65);
    color: white;
}

.footer-contact{
    padding: 40px 0;
    justify-content: center;
    align-items: center;
}

.footer-contact-copyright{
    margin-right: 30px;
}

.footer-contact-link i{
    font-size: 35px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
    transition: all ease 0.2s;
}

.footer-contact-link:hover i{
    opacity: 0.8;
}
/* Main page */

/* Content */
.section-about{
    background-image: url(https://img2.akspic.ru/originals/0/7/1/3/53170-zemlya-atmosfera-razvlechenie-polnoch-teatr-1920x1080.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-about__text{
    position: relative;
    font-size: 30px;
    opacity: 0.5;
    transition: opacity ease 0.3s;
    color: white;
    bottom: 40px;
    text-decoration: none;
    animation: fadeIn-down ease 1s;
    box-shadow:inset 0px 1px 0px 0px #cf866c;
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    background-color:#d0451b;
    border-radius:3px;
    border:1px solid #942911;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:24px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #854629;
}

.section-about__text:hover{
    opacity: 1;
}

.section-content{
    padding: 70px 0 20px 0;
    background-color: rgb(199, 197, 197);
}


.repertoire-block{
    position: relative;
    width: 100%;
    background-color: white;
    /*height: 455px;*/
    border-radius: 10px;
    max-height: 600px;
    height: fit-content;
}

.repertoire-image{
    width: 100%;
    overflow: hidden;
    height: 256px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.repertoire-image img{
    cursor: pointer;
    width: 100%;
    transition: transform ease 0.3s;
}
.repertoire-image:hover img{
    transform: scale(1.1);
}

.repertoire-title{
    padding: 24px 0;
    text-align: center;
}

.repertoire-description{
    text-align: center;
    padding: 0 10px 40px 10px;
    font-size: 14px;
}

.repertoire-favorite{
    position: absolute;
    top: 10px;
    left: -6px;
    background-color: #ff4a2e;
    padding: 0 4px;
    border-radius:0 3px 3px 0;
    color: white;
    font-size: 14px;
}

.repertoire-favorite::before{
    content: "";
    position: absolute;
    top: 16px;
    left: 0;
    border-top: 5px solid #df4129;
    border-left: 5px solid transparent;
}

.section-content__repertoires{
    text-align: center;
    padding: 30px 0;
}

.section-content__repertoires-btn{
    padding: 8px 20px;
    background: linear-gradient(90deg,black, red);
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    border: none;
    transition: all ease 0.3s;
}

.section-content__repertoires-btn:hover{
    opacity: 0.8;
}

.section-contact{
    padding: 40px 0;
}

.contact{
    width: 800px;
    margin: 0 auto;
}

.contact-title{
    text-align: center;
    padding: 20px;
}

.contact-description{
    text-align: center;
    color: rgb(190, 190, 190);
    padding-bottom: 60px;
}

.contact-about{
    margin: 10px 0;
}

.contact-about-icon{
    width: 20px;
    text-align: center;
}
.contact-form-sub{
    display: flex;
}

.contact-form__mail,
.contact-form__name{
    width: 50%;
    padding: 8px 16px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
}

.contact-form__name{
    margin-right: 6px;
}

.contact-form__mail{
    margin-left: 6px;
}

.contact-form__message{
    width: 100%;
    padding: 8px 16px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-top: 12px;
}

.contact-form__submit{
    cursor: pointer;
    float: right;
    padding: 8px 16px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: black;
    border-radius: 5px;
    margin-top: 12px;
    color: white;
    transition: all ease 0.3s;
}

.contact-form__submit:hover{
    opacity: 0.8;
    transform: scale(1.1);
}

/* Repertoire info */
.container-repertoire-info{
    overflow: hidden;
    background-image: url("https://image.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148907305.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 80px;
}
.repertoire-info-title{
    text-align: center;
    padding: 70px 0 40px 0;
}

.repertoire-info-title span{
    color: rgb(41, 41, 158);
}
.repertoire-info-slideshow{
    padding: 0 0;
    overflow: hidden;
    position: relative;
    animation: fadeIn-from-left ease 1s;
    border-radius: 10px;
}

.repertoire-info-slideshow:hover .repertoire-info__about{
    transform: translateY(0);
}
.repertoire-info-item{
    transition: transform ease 0.5s;
    width: 100%;
    display: flex;
}
.repertoire-info-image{
    height: 350px;
    /*width: 100%;*/
    min-width: 512px;
    cursor: pointer;
}
.repertoire-info-info{
    animation: fadeIn-from-right ease 1s;
}
.repertoire-info-info__description{
    text-align: justify;
}



.repertoire-info__btn-visit{
    padding: 8px 16px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(211, 211, 211);
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
    float: right;
}

.repertoire-info__btn-visited{
    padding: 8px 16px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(211, 211, 211);
    cursor: pointer;
    background-color: white;
    float: right;
    margin-right: 20px;
}

.repertoire-info__btn-visit:hover,
.repertoire-info__btn-visited:hover{
    background-color: #ff7f6c;
}

.repertoire-info__about{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    transform: translateY(100%);
    transition: all ease 0.5s;
}

.repertoire-info__description{
    color: white;
    text-align: center;
    padding: 20px 0;
}

.repertoire-info-info__allow{
    text-align: center;
    font-weight: 600;
    margin-top: 30px;
}

.btn-next{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    text-align: center;
    width: 35px;
    height: 50px;
    border-radius: 5px 0 0 5px;
    outline: none;
    border: none;
    background-color: rgb(167, 167, 167);
}

.btn-prev{
    border: none;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
    text-align: center;
    width: 35px;
    height: 50px;
    border-radius: 0 5px 5px 0;
    outline: none;
    background-color: rgb(167, 167, 167);
}

.btn-next:hover,
.btn-prev:hover{
    background-color: black;
    color: white;
}

.btn-icon-prev,
.btn-icon-next{
    font-size: 18px;
    transition: transform ease 0.3s;
}


.btn-next:hover .btn-icon-next{
    transform: translateX(5px)
}

.btn-prev:hover .btn-icon-prev{
    transform: translateX(-5px)
}

/* Modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-layout{
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    animation: fadeIn ease 0.5s;
}

.modal-content{
    position: absolute;
    width: 70%;
    height: 80%;
    animation: zoom ease 0.7s;
}

.modal-content img{
    width: 100%;
    height: 100%;
}

.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border-radius: 50%;
}

.modal-close__icon{
    font-size: 30px;
    transition: all ease 0.3s;
}

.modal-close:hover .modal-close__icon{
    transform: rotate(90deg);
    color: rgb(247, 7, 7);
}

.container-rating{
    margin: 60px 0 60px 0;
}

.container-rating-stars__user{
    text-align: center;
    padding: 30px;
}

.container-rating-stars__score{
    font-size: 24px;
    color: rgb(255, 174, 0);
}

.container-rating-stars__image{
    width: 100%;
}
.container-rating-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container-rating-form__stars{
    display: flex;
    padding: 40px 0;
    color: rgb(197, 197, 197);
}

.container-rating-form__stars-icon{
    cursor: pointer;
    margin: 0 4px;
    font-size: 40px;
}

.container-rating-form__stars-icon--active{
    color: rgb(255, 174, 0);
}

.container-rating-form__comment{
    width: 70%;
}

.container-rating-form__comment-input{
    width: 100%;
    height: 100px;
    padding: 16px;
    outline: none;
    background-color: rgb(63, 63, 63);
    color: white;
    resize: none;
}

.container-rating-form__submit{
    width: 70%;
    margin: 4px 0;
    text-align: center;
    border: none;
    padding: 10px 0;
    background-color: rgb(63, 63, 63);
    color: rgb(197, 197, 197);
    cursor: pointer;
    transition: all ease 0.3s;
}

.container-rating-form__submit:hover{
    color: white;
}

.container-comment{
    padding: 40px 0;
    margin-top: 30px;
}

.container-comment__title{
    padding: 12px 16px;
    background-color: teal;
    color: white;
    margin-bottom: 30px;
}

.container-comment__user{
    margin-top: 10px;
}

.container-comment__user-image img{
    width: 100%;
}

.container-comment__user-sub-block{
    display: flex;
    padding: 12px 0;
}

.container-comment__user-name{
    margin-right: 8px;
}

.container-comment__user-comment{
    padding: 12px 0;
}

.container-recommend{
    margin-top: 30px;
    padding: 40px 0;
}

.container-recommend__title{
    font-size: 30px;
    font-weight: 600;
    border-bottom: 1px solid black;
}

.container-recommend__repertoire{
    position: relative;
    text-decoration: none;
    color: black;
    margin-top: 50px;
    cursor: pointer;
    transition: all ease 0.3s;
    bottom: 0;
}

.container-recommend__repertoire:hover{
    bottom: 10px;
}

.container-recommend__repertoire-title{
    min-width: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 4px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
}

.container-recommend__repertoire-image{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Profile */

.profile{
    overflow: hidden;
}

.profile-sidebar{
    position: fixed;
    width: 25%;
    height: 100vh;
    background-color:#f8f6f2;
}
.profile-sidebar__user{
    position: relative;
    display: flex;
    padding: 40px 16px;
    justify-content: space-between;
    border-bottom: 1px dashed rgb(163, 163, 163);
}

.profile-sidebar__user-out{
    position: absolute;
    font-size: 30px;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.profile-sidebar__user-item{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile-sidebar__user img{
    width: 20%;
    margin-right: 20px;
}

.profile-sidebar__user-name{
    font-size: 20px;
    font-weight: 600;
}

.profile-sidebar__info{
    margin-top: 20px;
}

.profile-sidebar__info-favorites,
.profile-sidebar__info-account{
    padding: 10px 32px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.profile-sidebar__info-favorites:hover,
.profile-sidebar__info-account:hover{
    color: rgb(80, 80, 255);
}

.profile-sidebar__info-icon{
    font-size: 18px;
    margin-right: 12px;
}

#info-list-account-icon,
#info-list-favorite-icon{
    transition: all ease 0.2s;
}

.profile-sidebar__info-list{
    margin-left: 80px;
    color: black;
    display: none;
    transform-origin: top left;
    animation: zoom ease 0.5s;
}

.profile-sidebar__info-item{
    cursor: pointer;
    padding: 4px 0;
    word-break:break-word;
}
.profile-sidebar__info-item:hover{
    color: rgb(80, 80, 255);
}

.profile-favorites{
    padding-bottom: 60px;
}

.profile-favorites-block{
    padding: 20px;
    background-color: #f6f1e9;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 15px;
    border: 1px dashed rgb(163, 163, 163);
    margin-top: 30px;
}

.profile-favorites-block:target{
    background-color: #ffe8c1;
}

.profile-favorites__title{
    text-align: center;
    padding: 40px 0 ;
}

.profile-favorites__title span{
    margin-left: 16px;
    font-size: 40px;
    color: rgb(167, 26, 26);
}

.profile-favorites__img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.profile-favorites__favorite-title{
    margin-bottom: 20px;
}







/* Stars*/
.container .post{
    display: none;
}
.container .text{
    font-size: 25px;
    color: #666;
    font-weight: 500;
    width: 55%;

}
.container .edit{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 12px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
}
.container .edit:hover{
    text-decoration: underline;
}
.container .star-widget input{
    display: none;
}
.star-widget label{
    right: 10px;
    font-size: 50px;
    color: #444;
    padding: 20px;
    float: right;
    transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
}
input:checked ~ label{
    color: #fd4;
}
input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
}
input:checked ~ form{
    display: block;
}

form .textarea{
    height: 170px;
    width: 100%;
    overflow: hidden;
}
form .textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    resize: none;
}
.textarea textarea:focus{
    border-color: #444;
}
form .btn{
    height: 45px;
    width: 100%;
    margin: 15px 0;
}
form .btn button{
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}
form .btn button:hover{
    background: #1b1b1b;
}
.stars{
    height: 500px;
    width: 500px;
}
.container-recommend__image{
    width: 400px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.container-recommend__rec-title{
    min-width: 200px;
    position: absolute;
    left: 75%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 4px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
}