<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/animation.css">
    <link rel="stylesheet" href="/fonts/fontawesome-free-5.15.4-web/css/all.min.css">
</head>
<body>
<div class="grid profile">
    <div class="row">
        <div class="col l-3">
            <div class="profile-sidebar">
                <div class="profile-sidebar__user">
                    <a  style="background: #df4129" class="header-link" href="/mainPage">
                        <!--i class="header-icon fas fa-user-tie"></i-->
                        <span class="header-text">На главную</span>
                    </a>
                    <img src="static/avatars/user.svg" alt="">
                    <div class="profile-sidebar__user-item">
                        <div class="profile-sidebar__user-name" th:text="${currentUser.name}"></div>
                        <div class="profile-sidebar__user-login" th:text="${currentUser.login}"></div>
                    </div>
                    <a href="/logout"><i class="profile-sidebar__user-out fas fa-sign-out-alt"></i></a>
                </div>
                <div class="profile-sidebar__info">
                    <div class="profile-sidebar__info-account">
                        <div class="profile-sidebar__info-account-block">
                            <i class="profile-sidebar__info-icon fas fa-address-book"></i>
                            Аккаунт
                        </div>
                        <i id="info-list-account-icon" class="fas fa-chevron-right"></i>
                    </div>
                    <ul id="info-list-account" class="profile-sidebar__info-list">
                        <li class="profile-sidebar__info-item" th:text="'Login: ' + ${currentUser.login}"></li>
                        <li class="profile-sidebar__info-item" th:text="'Password: ' + ${currentUser.getDotsPassword()}"></li>
                    </ul>
                    <div class="profile-sidebar__info-favorites">
                        <div class="profile-sidebar__info-account-block">
                            <i class="profile-sidebar__info-icon fas fa-heart"></i>
                            Избранные
                        </div>
                        <i id="info-list-favorite-icon" class="fas fa-chevron-right"></i>
                    </div>
                    <ul id="info-list-favorite" class="profile-sidebar__info-list">
                        <tr th:each="rep : ${plannedRep}">
                            <a th:href="@{|/play/${rep.id}|}">
                                <li class="profile-sidebar__info-item" th:text="${rep.name}"></li>
                            </a>
                        </tr>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col l-9 profile-favorites">
            <h1 class="profile-favorites__title">Ваши избранные<span><i class="fas fa-heart"></i></span> </h1>
            <tr th:if="${#lists.isEmpty(plannedRep)}">
                <a href="#" class="row profile-favorites-block">"Добавьте спектакль!"</a>
            </tr>
            <tr th:each="rep : ${plannedRep}">
                 <a th:href="@{|/play/${rep.id}|}" id="1" class="row profile-favorites-block">
                     <div class="col l-4">
                         <div class="profile-favorites__img">
                             <img th:src= "${rep.getPictures().stream().findFirst().get().getImage()}" alt="">
                         </div>
                     </div>
                     <div class="col l-8">
                         <div class="profile-favorites__favorite">
                             <h2 class="profile-favorites__favorite-title" th:text="${rep.name}">
                             </h2>
                             <p class="profile-favorites__favorite-description" th:text="${rep.title}">
                             </p>
                         </div>
                     </div>
                 </a>
            </tr>
        </div>
    </div>
</div>

<script>
    const profileInfoAccount = document.querySelector(".profile-sidebar__info-account")
    const profileInfoFavorite = document.querySelector(".profile-sidebar__info-favorites")

    const infoListAccount = document.querySelector("#info-list-account")
    const infoListFavorite = document.querySelector("#info-list-favorite")
    const iconListAccount = document.querySelector("#info-list-account-icon")
    const iconListFavorite = document.querySelector("#info-list-favorite-icon")


    profileInfoAccount.addEventListener("click", ()=>{
        if(infoListAccount.style.display === "block"){
            infoListAccount.style.display = "none"
            iconListAccount.style.transform = "rotate(0deg)"
        }else{
            infoListAccount.style.display = "block"
            iconListAccount.style.transform = "rotate(90deg)"
        }
    })

    profileInfoFavorite.addEventListener("click", ()=>{
        if(infoListFavorite.style.display === "block"){
            infoListFavorite.style.display = "none"
            iconListFavorite.style.transform = "rotate(0deg)"
        }else{
            infoListFavorite.style.display = "block"
            iconListFavorite.style.transform = "rotate(90deg)"
        }
    })
</script>
</body>
</html>