<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<style>
    #main{
        position:fixed;
        left:10px;
        top:5%;
        border: red 2px solid ;
        color: black;
        font-size: 20px;
        background: white;
        text-decoration-line: none;
    }
    .head{
        width: 100%;
        z-index: 1;
        background-color: rgba(197, 20, 20, 0.7);
    }
</style>

<script>
</script>

<div class="head">
    <div class="grid wide">
        <div class="row">
            <div class="col l-4">
                <a href="/mainPage" class="header-title-link">
                    <img src="/img/logo.png" alt="">
                    <h1 class="header-title-link__text">Theater tickets</h1>
                </a>
            </div>
        </div>
    </div>
</div>

<body>

<div class="login-form">
    <form th:action="@{/login}" method="post">
    <div class="login-box">
         <h1 class="login-header">ВХОД В АККАУНТ</h1>
         <input id="login" type="text" class="login-input" placeholder="Логин" name="username" maxlength="20">
         <input id="password" type="password" class="login-input" placeholder="Пароль" name="password" maxlength="20">
         <a th:text="${status}">Статус</a>
         <!--a href="#" class="login-link">Forgot your password?</a-->
         <button class="login-control" type="submit" onclick="login()">Войти</button>
         <p th:if="${accessRights==''}" class="login-nav-register">Ещё нет аккаунта? <a class="login-link" href="/registration" style="font-weight: bold">Регистрация</a></p>
    </div>
    </form>
</div>
</body>
</html>