<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="fonts/fontawesome-free-5.15.4-web/css/all.min.css">
</head>
<body>
<header>
    <div class="grid wide">
        <div class="row">
            <div class="col l-4">
                <a href="#" class="header-title-link">
                    <img src="/img/logo.png" alt="">
                    <h1 class="header-title-link__text">Theater tickets</h1>
                </a>
            </div>

            <div class="col l-8 header-block-links">
                <a th:if="${accessRights=='admin'}" class="header-link" href="/adminTags">
                    <i class="header-icon fas fa-tags"></i>
                    <span class="header-text">AdminTags</span>
                </a>
                <a th:if="${accessRights=='admin'}" class="header-link" href="/status">
                    <i class="header-icon fas fa-info-circle"></i>
                    <span class="header-text">Status</span>
                </a>
                <a th:if="${accessRights!=''}" class="header-link" href="/recommendation">
                    <i class="header-icon fas fa-check"></i>
                    <span class="header-text">Recommendation</span>
                </a>
                <a class="header-link" href="/login">
                    <i class="header-icon fas fa-sign-in-alt"></i>
                    <span class="header-text">Login</span>
                </a>
                <a th:if="${accessRights==''}" class="header-link" href="/registration">
                    <i class="header-icon far fa-edit"></i>
                    <span class="header-text">Register</span>
                </a>
                <a th:if="${accessRights!=''}" class="header-link" href="/account">
                    <i class="header-icon fas fa-user-circle"></i>
                    <span class="header-text">Account</span>
                </a>
            </div>
        </div>
    </div>
</header>

<div class="content">
    <div class="section-about">
        <a th:href="@{/search}" id="text" class="section-about__text">Поиск спектаклей</a>
    </div>
    <div class="section-content">
        <div class="grid wide">
            <div class="row">
                <div class="col m-4 repertoire">
                    <div class="repertoire-block">
                        <div class="repertoire-image" th:onclick="'window.location.href = \'' + @{|/play/${threeRandomRepertoire[0].id}|} + '\''">
                            <img class="repertoire-image" th:src="${threeRandomRepertoire.get(0).getPictures().stream().findFirst().get().getImage()}" alt="">
                        </div>
                        <h2 class="repertoire-title" th:text="${threeRandomRepertoire[0].name}"></h2>
                        <p class="repertoire-description" th:text="${threeRandomRepertoire[0].title}"></p>
                        <span class="repertoire-favorite">
                                <i class="fas fa-check repertoire-favorite-icon"></i>
                                <span class="repertoire-favorite-text">Лучшее</span>
                            </span>
                    </div>
                </div>
                <div class="col m-4 repertoire">
                    <div class="repertoire-block">
                        <div class="repertoire-image" th:onclick="'window.location.href = \'' + @{|/play/${threeRandomRepertoire[1].id}|} + '\''">
                            <img class="repertoire-image" th:src="${threeRandomRepertoire.get(1).getPictures().stream().findFirst().get().getImage()}" alt="">
                        </div>

                        <h2 class="repertoire-title" th:text="${threeRandomRepertoire[1].name}"></h2>
                        <p class="repertoire-description" th:text="${threeRandomRepertoire[1].title}"></p>
                        <span class="repertoire-favorite">
                                <i class="fas fa-check repertoire-favorite-icon"></i>
                                <span class="repertoire-favorite-text">Лучшее</span>
                            </span>
                    </div>
                </div>
                <div class="col m-4 repertoire">
                    <div class="repertoire-block">
                        <div class="repertoire-image" th:onclick="'window.location.href = \'' + @{|/play/${threeRandomRepertoire[2].id}|} + '\''">
                            <img th:src="${threeRandomRepertoire.get(2).getPictures().stream().findFirst().get().getImage()}" alt="">
                        </div>
                        <h2 class="repertoire-title" th:text="${threeRandomRepertoire[2].name}"></h2>
                        <p class="repertoire-description" th:text="${threeRandomRepertoire[2].title}"></p>
                        <span class="repertoire-favorite">
                                <i class="fas fa-check repertoire-favorite-icon"></i>
                                <span class="repertoire-favorite-text">Лучшее</span>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-contact">
        <div class="grid contact">
            <h2 class="contact-title">Контакты</h2>
            <p class="contact-description"><i> Остались вопросы? Напишите нам!</i></p>
            <div class="row">
                <div class="col m-6">
                    <div class="contact-about">
                        <i class="fas fa-map-marker-alt"></i>
                        Saint-Peterburg
                    </div>
                    <div class="contact-about">
                        <i class="fas fa-phone"></i>
                        Phone: <a href="tel:+7 (800) 555-35-35">+7 (800) 555-35-35</a>
                    </div>
                    <div class="contact-about">
                        <i class="fas fa-envelope"></i>
                        Email: <a href="malto:mail@mail.com">mail@mail.com</a>
                    </div>
                </div>
                <div class="col m-6">
                    <div> Проект разработан для курса Netcracker, 2021  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="grid wide">
        <div class="row footer-contact">
            <span class="footer-contact-copyright">© 2021 Theater tickets</span>
            <a href="#" class="footer-contact-link">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="#" class="footer-contact-link">
                <i class="fab fa-telegram"></i>
            </a>
            <a href="#" class="footer-contact-link">
                <i class="fab fa-instagram-square"></i>
            </a>
            <a href="#" class="footer-contact-link">
                <i class="fab fa-skype"></i>
            </a>
        </div>
    </div>
</footer>

</footer>
</body>
</html>