<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<title>Поиск спекталя</title>


<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}"/>
    <script type="text/javascript" th:src="@{/scripts/script.js}"></script>
</head>
<style>

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    .main,
    .sidebar {
        border: 3px solid black;
        padding: 15px;
        background-color: #fff;
    }

    .main {
        width: 70%;
        height: 150vh;
    }

    .sidebar {
        width: 25%;
        height: 25vh;
    }

    body {
        background-color: #ccc;
        font-family: sans-serif;
        padding: 10px;
    }

</style>
<body>
<div class="wrapper">
    <div class="sidebar">
        <p>Фильтр</p>
        <form th:method="post">
            <input type="text" name="age" placeholder="Возраст ДО">
            <br>
            <input type="text" name="description" placeholder="Описание">
            <br>
            <input type="text" name="name" placeholder="Название">
            <br>
            <input type="text" name="date" placeholder="Дата">
            <button type="submit">Find!</button>
        </form>
    </div>
    <div class="main">
        Спектакли
        <table class="styled-table">
            <tr th:each="play : ${plays}">
                <td style="width: 25%"><a  th:href="@{|/play/${play.id}|}"><span th:text="${play.name}"> Name </span></a></td>
                <td style="width: 75%"><span th:text="${play.title}"> Description </span></td>
            </tr>
        </table>
    </div>

</div>
<!--
<div class="block-left">
    <p>Фильтр</p>
    <form th:method="post">
        <input type="text" name="age" placeholder="Возраст ДО">
        <br>
        <input type="text" name="description" placeholder="Описание">
        <br>
        <input type="text" name="name" placeholder="Название">
        <br>
        <input type="text" name="date" placeholder="Дата">
        <button type="submit">Find!</button>
    </form>
    </div>

<div class="block-right">
    <p>Спектакли</p>
    <table class="styled-table">
        <tr th:each="play : ${plays}">
            <td style="width: 25%"><a  th:href="@{|/play/${play.id}|}"><span th:text="${play.name}"> Name </span></a></td>
            <td style="width: 75%"><span th:text="${play.title}"> Description </span></td>
        </tr>
    </table>
</div>
-->
<footer>
<button th:onclick="goBack()">Go back to main!</button>
</footer>
</body>
</html>