<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<style>
    #main{
        position:fixed;
        left:10px;
        top:5%;
        border: red 2px solid ;
        color: black;
        font-size: 20px;
        background: white;
        text-decoration-line: none;
    }
</style>

<script>
    function register(){
        var jsonObject = {};

        const dataLogin = document.getElementById("login");
        const dataName = document.getElementById("name");
        const dataPassword = document.getElementById("psw");
        const dataPasswordRepeat = document.getElementById("psw-repeat");

        if (dataPassword.value == dataPasswordRepeat.value) {
            jsonObject.login = dataLogin.value;
            jsonObject.password = dataPassword.value;
            jsonObject.name = dataName.value;


            var jsonString = JSON.stringify(jsonObject);
            console.log(jsonString);
            let request = new Request("/registration", {
                method: 'POST',
                body: jsonString,
                headers: {
                    'Content-Type': 'application/json',
                },
            });
            fetch(request).then(
                function(response) {
                    // Запрос успешно выполнен
                    console.log(response);
                    // return response.json() и так далее см. документацию
                },
                function(error) {
                    // Запрос не получилось отправить
                    console.error(error);
                }
            );
            const status = document.getElementById("status");
            status.innerText = " ";
        }
        else{
            const status = document.getElementById("status");
            dataPassword.value = "";
            dataPasswordRepeat.value = "";
            status.innerHTML = "Error! Password not equals to password repeat".fontcolor("orange");
        }
    }
</script>

<body>
<a id="main" href="/mainPage">Main page</a>

<form onsubmit="return false">
    <div class="register-form">
        <div class="register-box">
            <h1 class="register-header">CREATE ACCOUNT</h1>
            <input type="text" class="register-input" placeholder="Your Login" name="login" id="login" required>
            <input type="text" class="register-input" placeholder="Your Name" name="name" id="name" required>
            <input type="password" class="register-input" placeholder="Password" name="password" id="psw" required>
            <input type="password" class="register-input" placeholder="Confirm Password" name="passwordRepeat" id="psw-repeat" required>
            <!--p><input type="checkbox" class="register-input-check">I agree all statements in <a class="register-link" href="#">Terms of service</a></p-->
            <a th:text="${status}" id="status">Status</a>
            <button class="register-control" onclick="register()">Зарегестрироваться</button>
            <p class="register-nav-login">У Вас уже есть аккаунт? ? <a class="register-link" href="/login">Login here</a></p>
        </div>
    </div>
</form>
</body>
</html>