<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/repertoireStyle.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/scripts/script.js}"></script>
</head>

<style>
    input,p, button,a,div{
        color: inherit;
        font-family: "Berlin Sans FB Demi";
    }

    h1{
        color: navy;
        font-size: 20px;
        text-align: center;
    }

    .column3 {
        float: left;
        width: 33.33333333%;
        font-family: "Berlin Sans FB Demi";
        font-size: 15px;
        color: #1b1b1b;
    }

    .imageContainer{
        display: flex;
        flex-direction: row;
        width: fit-content;
    }
    .card{
        width:400px;
        height:250px;
        text-align: center;
    }
    .viewPort{
        width: 400px;
        height: 250px;
        overflow: hidden;
    }
    .link:hover{
        background-color: #DFA612;
        cursor: pointer;
    }
    #main{
        border: #3C4667 2px solid ;
        font-size: 20px;
        color: #3C4667;
        text-decoration-line: none;
    }
    .column33 {
        float: left;
        width: 33.33333333%;
        text-align: center;
    }
    .column33:hover{
        cursor: pointer;
        background-color: #DFA612;
        text-align: center;
    }
    .playImage{
        max-height: 350px;
        max-width: 350px;
    }
    .username{
        color: blue;
        font-size: large;
    }

</style>

<script>

    window.onload=function() {
        const next = document.getElementById("next");
        const prev = document.getElementById("prev");
        const images = document.querySelector(".imageContainer")


        const firstCardClone = images.children[0].cloneNode(true);
        const lastCardClone = images.children[images.children.length - 1].cloneNode(true);

        images.style.transitionDuration = "0.0s";
        images.style.transform = `translate(-400px)`;

        images.insertBefore(lastCardClone, images.children[0]);
        images.appendChild(firstCardClone);

        let currentCard = 1;

        next.addEventListener('click', () => {
            if (currentCard < images.children.length - 1) {
                currentCard++;
                document.getElementById("photosAmount").textContent=currentCard;
                console.log(currentCard);
                images.style.transitionDuration = "0.5s";
                images.style.transform = `translate(-${currentCard * 400}px)`;

                if (currentCard === images.children.length - 1){
                    images.style.transitionDuration = "0.0s";
                    images.style.transform = `translate(-400px)`;
                    currentCard = 1;
                }
                document.getElementById("photosAmount").textContent=currentCard;
            }
            else
                return
        });
        prev.addEventListener('click', () => {
            if (currentCard > 0) {
                currentCard--;
                document.getElementById("photosAmount").textContent=currentCard;
                console.log(currentCard);
                images.style.transitionDuration = "0.5s";
                images.style.transform = `translate(-${currentCard * 400}px)`;
                if (currentCard === 0){
                    images.style.transitionDuration = "0.0s";
                    images.style.transform = `translate(-${(images.children.length - 2) * 400}px)`;
                    currentCard = images.children.length - 2;
                }
                document.getElementById("photosAmount").textContent=currentCard;
            }
            else
                return
        });
    }

    //Script added
    const btn = document.querySelector(".save-comment");
    const post = document.querySelector(".post");
    const widget = document.querySelector(".star-widget");
    const editBtn = document.querySelector(".edit");
    btn.onclick = ()=>{
        widget.style.display = "none";
        post.style.display = "block";
        editBtn.onclick = ()=>{
            widget.style.display = "block";
            post.style.display = "none";
        }
        return false;
    }

</script>

<body>
<a id="main" class="link" href="/mainPage" style="text-decoration:none">Main page</a>
<h1 th:text="${'Информация о спектакле '+ repertoire.name}">Info:</h1>
<!-- <h2 th:text="Информация о спектакле ${repertoire.description}">Информация о спектакле</h2> -->
<div class="content" th:utext="${repertoire.getDescription()}" />

<button id="prev">Prev</button>
<button id="next">Next</button>

<a id="photosAmount">1</a>
<a th:text="${'/ ' + repertoire.pictures.size()}">/1</a>

<div class="viewPort">
    <div class="imageContainer">
        <tr th:each="img : ${repertoire.getPictures()}" class="tableImage">
            <div class="card"><img th:src="${img.getImage()}" height="250px" width="400px"></div>
        </tr>
    </div>
</div>

<h1 class="row">
    <div class="column3" th:text="${categories}">Genres</div>
    <div class="column3" th:text="${repertoire.age_min + '+'}">Min_age</div>
    <div class="column3">
        <p th:if="${theatre =='error'}">Here might be a theatre link and time</p>
    </div>
</h1>
<br>
<br>
<br>
<br>
<h1 th:text="'Рейтинг пользователей:'+ ${repertoire.getRating()}">Рейтинг:</h1>

<button th:onclick="goBack()">На главную</button>
<input type="button" value="Назад" onclick="history.back()">



<div class="container">
    <div class="post">
        <div class="text">Спасибо за оценку!</div>
        <div class="edit">Редактировать</div>
    </div>

    <div class="star-widget" th:object="${comment}">
        <form method="post" th:object="${comment}">
            <input th:field="*{score}" th:value="5" type="radio" name="rate" id="rate-5">
            <label for="rate-5" class="fas fa-star"></label>
            <input th:field="*{score}" th:value="4" type="radio" name="rate" id="rate-4">
            <label for="rate-4" class="fas fa-star"></label>
            <input th:field="*{score}" th:value="3" type="radio" name="rate" id="rate-3">
            <label for="rate-3" class="fas fa-star"></label>
            <input th:field="*{score}" th:value="2" type="radio" name="rate" id="rate-2">
            <label for="rate-2" class="fas fa-star"></label>
            <input th:field="*{score}" th:value="1" type="radio" name="rate" id="rate-1">
            <label for="rate-1" class="fas fa-star"></label>
            <header></header>
            <div class="textarea">
                <textarea th:field="*{text}" cols="30" placeholder="Оставьте комментарий.."
                          class="form-control"></textarea>
            </div>
            <div class="btn">
                <button id ="save-comment" type="submit">Отправить</button>
            </div>
        </form>
    </div>
</div>

<p class="table-p">
<table class="table-comment">
    <thead>
        <tr>
            <th>Комментарии</th>
        </tr>
    </thead>
    <tr th:if="${#lists.isEmpty(comments)}">
        <td colspan="5">Добавьте первый комментарий...!</td>
    </tr>
    <tr th:each="comment : ${comments}">
        <td>
            <div class="username" th:text="${user.login}"></div>
            <div th:text="${comment.getFormattedDate()}"></div>
            <div th:text="${comment.text}" ></div>
        </td>

    </tr>
</table>
</p>

<br>
<p>Похожие спектакли</p>
<div class="column33" th:onclick="'window.location.href = \'' + @{|/play/${similarRepertoire.get(0).getId()}|} + '\''">
    <div th:text="${similarRepertoire.get(0).getName()}">First similar</div>
    <img class="playImage" th:src="${similarRepertoire.get(0).getPictures().stream().findFirst().get().getImage()}">
</div>
<div class="column33" th:onclick="'window.location.href = \'' + @{|/play/${similarRepertoire.get(1).getId()}|} + '\''">
    <div th:text="${similarRepertoire.get(1).getName()}">Second similar</div>
    <img class="playImage" th:src="${similarRepertoire.get(1).getPictures().stream().findFirst().get().getImage()}">
</div>
<div class="column33" th:onclick="'window.location.href = \'' + @{|/play/${similarRepertoire.get(2).getId()}|} + '\''">
    <div th:text="${similarRepertoire.get(2).getName()}">Third similar</div>
    <img class="playImage" th:src="${similarRepertoire.get(2).getPictures().stream().findFirst().get().getImage()}">
</div>



</body>
</html>