<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Спектакль</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/animation.css">
    <link rel="stylesheet" href="/fonts/fontawesome-free-5.15.4-web/css/all.min.css">
</head>
<body>
<header>
    <div class="grid wide">
        <div class="row">
            <div class="col m-4">
                <a href="/mainPage" class="header-title-link">
                    <img src="/img/logo.png" alt="">
                    <h1 class="header-title-link__text">Theater tickets</h1>
                </a>
            </div>

            <div class="col m-8 header-block-links">
                <a th:if="${accessRights=='admin'}" class="header-link" href="/adminTags">
                    <i class="header-icon fas fa-tags"></i>
                    <span class="header-text">AdminTags</span>
                </a>
                <a th:if="${accessRights=='admin'}" class="header-link" href="/status">
                    <i class="header-icon fas fa-info-circle"></i>
                    <span class="header-text">Status</span>
                </a>
                <a th:if="${accessRights!=''}" class="header-link" href="/recommendation">
                    <i class="header-icon fas fa-check"></i>
                    <span class="header-text">Рекомендации</span>
                </a>
                <a th:if="${!accessRights.equals('')}" class="header-link" href="/account">
                    <i class="header-icon fas fa-user-circle"></i>
                    <span class="header-text">Аккаунт</span>
                </a>
            </div>
        </div>
    </div>
</header>

<style>
    .tabs {
        min-width: 60px;
        padding: 0px;
        margin: 0 auto;
    }
    label{
        width: fit-content;
    }

    section {
        width: fit-content;
        height: 0px;
        /*overflow: hidden;*/
        overflow: auto;
        margin: -1px 0px 0px 0px;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.2s;
    }


    table{
        width: 100%;
    }

    .tabs > input {
        display: none;
    }

    .tabs > label {
        display: block;
        padding: 7px 15px;
        font-weight: 600;
        text-align: left;
        color: #aaa;
        border: 1px solid #ddd;
        /*background: #ffffff;*/
    }

    .tabs > label:hover {
        color: #888;
        cursor: pointer;
        /*background: #fff;*/
    }

    .tabs > input:checked + label {
        color: #555;
        /*background: #fff;*/
    }

    #tab1:checked ~ #content-tab1{
        /*height: 400px;*/
        height: fit-content;
        max-height: 200px;
        /*background: #fcffe0;*/
    }
</style>

<div class="container">
    <div class="container-repertoire-info">
        <div class="grid wide">
            <h2 class="repertoire-info-title" th:text="${'Информация о спектакле '+ repertoire.name}"></h2>
            <div class="row">
                <div class="col l-5 repertoire-info-slideshow">
                    <div class="repertoire-info-item">
                        <tr th:each="img : ${repertoire.getPictures()}">
                            <img class="repertoire-info-image" th:src="${img.getImage()}" alt="">
                        </tr>
                    </div>
                    <button onclick="next()" class="btn-next">
                        <i class="fas fa-angle-right btn-icon-next"></i>
                    </button>
                    <button onclick="prev()" class="btn-prev">
                        <i class="fas fa-angle-left btn-icon-prev"></i>
                    </button>
                    <div class="repertoire-info__about">
                        <p class="repertoire-info__description" th:text="${categories}">
                        </p>
                    </div>
                </div>
                <div class="col l-7 repertoire-info-info" style="padding-left: 20px; text-align: justify">
                    <p class="repertoire-info-info__description" th:utext="${repertoire.getDescription()}" >
                    </p>
                    <br>
                    <p class="repertoire-info-info__allow" th:text="${'Возрастное ограничение ' + repertoire.age_min + '+'}"></p>
                    <br>
                </div>
            </div>
            <form method="post">
                <button class="repertoire-info__btn-visit" value="planned" name="planned" type="submit">Хочу посетить</button>
                <button class="repertoire-info__btn-visited" value="attended" name="attended" type="submit">Уже посетил</button>
            </form>
            <!--------------------------------------------------------->
            <br>
            <div th:if="${connectedPerformances.size()>0}" class="tabs">

                <input id="tab1" type="checkbox">
                <label for="tab1">Посмотреть даты</label>

                <section id="content-tab1">
                    <table>
                        <tr th:each="perf : ${connectedPerformances}">
                            <td><div th:text="${perf.getDate()}">Date</div></a></td>
                        </tr>
                    </table>
                </section>
            </div>
            <div th:if="${connectedPerformances.size()==0}">В ближайшее время нет спектаклей</div>
            <!--------------------------------------------------------->
        </div>

    </div>
    <div class="container-rating">
        <div class="grid wide">
            <div class="row">
                <div class="col l-5">
                    <div class="star-widget" th:object="${comment}">
                        <form method="post" th:object="${comment}">
                            <input th:field="*{score}" th:value="5" type="radio" name="rate" id="rate-5">
                            <label for="rate-5" class="fas fa-star"></label>
                            <input th:field="*{score}" th:value="4" type="radio" name="rate" id="rate-4">
                            <label for="rate-4" class="fas fa-star"></label>
                            <input th:field="*{score}" th:value="3" type="radio" name="rate" id="rate-3">
                            <label for="rate-3" class="fas fa-star"></label>
                            <input th:field="*{score}" th:value="2" type="radio" name="rate" id="rate-2">
                            <label for="rate-2" class="fas fa-star"></label>
                            <input th:field="*{score}" th:value="1" type="radio" name="rate" id="rate-1">
                            <label for="rate-1" class="fas fa-star"></label>
                            <header></header>
                            <div class="textarea">
                                <textarea th:field="*{text}" maxlength="255" cols="30" placeholder="Оставьте комментарий.." class="form-control">
                                </textarea>
                            </div>
                            <div class="btn">
                                <button id ="save-comment" value="savecomment" name="savecomment" type="submit">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col l-7">
                    <div class="container-rating-stars">
                        <h3 class="container-rating-stars__user">Рейтинг пользователей: <span class="container-rating-stars__score" th:text="${repertoire.getRating()}"></span></h3>
                        <img src="https://rating.ringostat.ru/wp-content/themes/ratings/dist/images/about.svg" alt="" class="container-rating-stars__image">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-comment">
        <div class="grid wide">
            <h2 class="container-comment__title">
                Комментарий
            </h2>
            <tr th:if="${#lists.isEmpty(comments)}">
                <td colspan="5">Добавьте первый комментарий...!</td>
            </tr>
            <div th:if="!${#lists.isEmpty(comments)}" class="row container-comment__user">
                <tr th:each="comment : ${comments}">
                    <div class="col l-1 container-comment__user-image">
                        <img src="/avatars/avatar-default.png" alt="">
                    </div>
                    <div class="col l-11 container-comment__user-block">
                        <div class="container-comment__user-sub-block">
                            <h4 class="container-comment__user-name" th:text="${comment.userName}">
                            </h4>
                            <span class="container-comment__user-time" th:text="${comment.getFormattedDate()}"><i></i></span>
                        </div>
                        <p class="container-comment__user-comment" th:text="${comment.text}" >
                        </p>
                    </div>
                </tr>
            </div>
        </div>
    </div>

    <div class="container-recommend">
        <div class="grid wide">
            <h2 class="container-recommend__title">Похожие</h2>
            <div class="row">
                <a th:onclick="'window.location.href = \'' + @{|/play/${similarRepertoire.get(0).getId()}|} + '\''" class="col l-3 container-recommend__repertoire">
                    <h4 class="container-recommend__repertoire-title" th:text="${similarRepertoire.get(0).getName()}"></h4>
                    <img  th:src="${similarRepertoire.get(0).getPictures().stream().findFirst().get().getImage()}" alt="" class="container-recommend__repertoire-image">
                </a>
                <a th:onclick="'window.location.href = \'' + @{|/play/${similarRepertoire.get(1).getId()}|} + '\''" class="col l-3 container-recommend__repertoire">
                    <h4 class="container-recommend__repertoire-title"  th:text="${similarRepertoire.get(1).getName()}"></h4>
                    <img th:src="${similarRepertoire.get(1).getPictures().stream().findFirst().get().getImage()}" alt="" class="container-recommend__repertoire-image">
                </a>
                <a th:onclick="'window.location.href = \'' + @{|/play/${similarRepertoire.get(2).getId()}|} + '\''" class="col l-3 container-recommend__repertoire">
                    <h4 class="container-recommend__repertoire-title" th:text="${similarRepertoire.get(2).getName()}"></h4>
                    <img th:src="${similarRepertoire.get(2).getPictures().stream().findFirst().get().getImage()}" alt="" class="container-recommend__repertoire-image">
                </a>
                <a th:onclick="'window.location.href = \'' + @{|/play/${similarRepertoire.get(3).getId()}|} + '\''" class="col l-3 container-recommend__repertoire">
                    <h4 class="container-recommend__repertoire-title" th:text="${similarRepertoire.get(3).getName()}"></h4>
                    <img th:src="${similarRepertoire.get(3).getPictures().stream().findFirst().get().getImage()}"  alt="" class="container-recommend__repertoire-image">
                </a>
            </div>
        </div>
    </div>

    <div class="modal">
        <div class="modal-layout"></div>
        <div class="modal-content">
            <div class="modal-close">
                <i class="modal-close__icon far fa-times-circle"></i></i>
            </div>
            <img id="modal-content__image" src="" alt="">
        </div>
    </div>
</div>
<footer>
    <div class="grid wide">
        <div class="row footer-contact">
            <span class="footer-contact-copyright">© 2021 Theater tickets</span>
            <a href="#" class="footer-contact-link">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="#" class="footer-contact-link">
                <i class="fab fa-telegram"></i>
            </a>
            <a href="#" class="footer-contact-link">
                <i class="fab fa-instagram-square"></i>
            </a>
            <a href="#" class="footer-contact-link">
                <i class="fab fa-skype"></i>
            </a>
        </div>
    </div>
</footer>

<script>
    // Slide show
    //const WIDTH_IMAGE = document.querySelector(".repertoire-info-image").clientWidth
    const WIDTH_IMAGE = 512;//Added
    const slides = document.querySelector(".repertoire-info-item")
    const imageAll = document.querySelectorAll(".repertoire-info-image")
    var index = 0


    function next(){
        if(index === imageAll.length - 1){
            index = 0
        }else{
            index++
        }
        slides.style.transform = `translateX(-${index*WIDTH_IMAGE}px)`
    }

    function prev(){
        if(index === 0){
            index = imageAll.length - 1
        }else{
            index--
        }
        slides.style.transform = `translateX(-${index*WIDTH_IMAGE}px)`
    }

    // Modal

    const modalClose = document.querySelector(".modal-close")
    const modal = document.querySelector(".modal")
    const modalLayout = document.querySelector(".modal-layout")
    const modalImage = document.querySelector("#modal-content__image")

    modalClose.addEventListener("click", ()=>{
        modal.style.display = "none"
    })

    modalLayout.addEventListener("click", ()=>{
        modal.style.display = "none"
    })

    imageAll.forEach(image => {
        image.addEventListener("click", (e)=>{
            modalImage.src = image.src
            modal.style.display = "flex"
        })
    })

    // Rating
    const stars = document.querySelectorAll(".container-rating-form__stars-icon")

    for(var i = 0; i < stars.length; i++)
    {
        stars[i].addEventListener("click", (e)=> {
            var dataId = e.target.getAttribute("data-id")
            for(var j = 0; j < dataId; j++){
                stars[j].classList.add("container-rating-form__stars-icon--active")
            }
        })
    }
</script>
</body>
</html>