<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
    <title th:utext="${title}"></title>
</head>
<body>
<!-- Include _menu.html -->


<h2>User Page</h2>
<h3>Welcome :
    <span th:utext="${#request.userPrincipal.name}"></span>
</h3>
<b>This is protected page!</b>

<br/><br/>

<div th:if="${userInfo != null}" th:utext="${userInfo}"></div>

</body>

<p sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></p>

</html>